<div class="row text-center mt-3">
  <div class="col col-md-12">
    <h1><%= t('.header') %></h1>
  </div>
</div>
<div class="container mt-3">
  <div class="row ustify-content-md-center text-center" style="background-color: #e3f2fd;">
    <div class="col-md-6"><%= t('.questions') %></div>
    <div class=col-md><%= t('.gist_url') %></div>
    <div class=col-md><%= t('.user_email') %></div>
  </div>
</div>
<%= render @gists %>
