<h5><%= t('.header') %></h5>

<footer>
  <p><%= t('.current_year', count: current_year) %></p>
  <p><%= github_url('AlexanderG-v', 'TestGuru') %></p>
  <p><%= t('.description') %></p>
  <p><%= github_url('AlexanderG-v') %></p>
  <p><%= link_to t('link_to_thinknetika'), 'https://thinknetica.com/',target: '_blank' %></p>
</footer>
