<p>
  <strong><%= t('.title', title: @test.title) %></strong>
</p>

<p>
  <strong><%= t('.level', level: @test.level) %></strong>
</p>

<table>
  <tr>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th> 
  </tr>
  <%= render partial: 'admin/questions/question', collection: @test.questions  %>
</table>

<%= link_to t('link_to_add_questions'), new_admin_test_question_path(@test) %>
<%= link_to t('link_to_edit'), edit_admin_test_path(@test) %>
<%= link_to t('link_to_back'), admin_tests_path %>
