<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<strong>Questions:</strong><br>

<%= link_to 'Add question', new_test_question_path(@test) %>

<table>
  <tr>
    <th>Questions body</th>
    <th colspan="2">Actions</th> 
  </tr>
  <%= render partial: 'questions/question', collection: @test.questions  %>
  <%# <%= render @test.questions %>
</table>

<%= link_to 'Edit', edit_admin_test_path(@test) %>
<%= link_to 'Back', admin_tests_path %>
