<div class="row text-center mt-3">
  <div class="col col-md-12">
    <h1><%= t('.header') %></h1>
  </div>
</div>

<table class="table container mt-3">
  <tr class="row ustify-content-md-center text-center" style="background-color: #e3f2fd;">
    <th class="sort-by-title pointer col-md-6">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th class=col-md><%= t('.level') %></th>
    <th class=col-md><%= t('.questions_count') %></th>
    <th class=col-md><%= t('.actions') %></th>
  </tr> 
  <%= render @tests %>
</table>

